.button{
    display: inline-block;
    height: 100%;
    padding: 0 37px;
    background-color: $accent-color;
    line-height: 58px;
    font-weight: 700;
    color: white;
    border-radius: 29px;
    transition: background-color 0.2s ease-in;

    &:hover{
        background-color: $accent-color-hover;
    }

    &--white{
        background-color: white;
        color: $black-color;
        transition: background-color 0.2s ease-in, color 0.2s ease-in;

        &:hover{
            background-color: $black-color;
            color: white;
        }
    }

    &--play{
        padding-left: 50px;
        position: relative;
        &::before{
            content: "";
            display: block;
            width: 12px;
            height: 12px;

            position: absolute;
            left: 30px;
            top: 23px;
            

            background-image: url('./../img/banner-cta/triangle-watch-now.svg');
            background-size: initial;
            background-repeat: no-repeat;
        }
    }
}
