.contacts {
    position: relative;
    padding-top: 200px;
    padding-bottom: 55px;
    background-image: url('./../img/women-bg.svg');
    background-size: cover;
    color: #fff;

    & .button{
        color: black;
    }

    &:before{
        position: absolute;
        bottom: 0;
        left: 50%;

        content: "";
        display: block;
        width: 743px;
        height: 372px;
        background-image: url('./../img/oval-women.svg');
        background-size: initial;
        background-repeat: no-repeat;
    }

    &:after{
        position: absolute;
        bottom: 0;
        left: 50%;

        content: "";
        display: block;
        width: 478px;
        height: 547px;
        margin-left: 79px;
        background-image: url('./../img/women-contact-us.png');
        background-size: initial;
        background-repeat: no-repeat;
    }
    
}

.contacts__info {
    max-width: 360px;
}

.contact__title{
    margin-bottom: 15px;
}

.contact__text{
    margin-bottom: 30px;
    max-width: 342px;
}

.button {
    &:hover{
        color: #fff;
    }
}