.img-card {
    position: relative;
    width: 385px;
    & + &{
        margin-left: 32px;
    }
    max-width: 100%;
}

.img-card__img {
    border-radius: 20px 20px 0px 20px;

    .img-card--rounded &{
        border-radius: 20px;
    }
}

.img-card__info{
    position: absolute;
    right: -46px;
    bottom: 87px;
}