.navigation-list {
    ul {
        display: flex;
    }

    li:not(:last-child) {
        margin-right: 42px;
    }

    a {
        color: inherit;
        text-decoration: none;

        &:hover{
            color: #f78434;
        }

        &.active{
            color: #f78434;
            font-weight: 700;
        }
    }
}